/* GENERALI */
*{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

ul li:not(.item-list){
   list-style-type: none;
   display: inline-block;
}
hr{
  width: 94%;
  margin: 0 auto;
}
.right-padding-25{
  padding-right: 25px;
}
.left-padding-25{
  padding-left: 25px;
}
.bottom-padding-50{
  padding-bottom: 50px;
}
.top-pading-50{
  padding-top: 50px;
}
.text-center{
  text-align: center;
}
.text-white{
  color: #ffffff;
}
.text-gray{
  color: #696969;
}
.content-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bg-grey{
  background-color: #fafafa;
}
.hg-100{
  height: 100%;
}
.wd-100{
  width: 100%;
}
.a-none{
  text-decoration: none;
}
.max-width-800{
  max-width: 800px;
}
h1{
  font-size: 42px;
  font-weight: 600;
  text-transform: capitalize;
}
h2{
  font-size: 27px;
  font-weight: 600;
}
h4{
  font-size: 21px;
}

/* FINE GENERALI */

/* HEADER */
/* menu */
nav{
  position: fixed;
  top:0;
  left:0;
  right:0;
  background-color: #ffffff;
  z-index: 2;
}
.menu{
  /* margin: 0 auto; */
  padding-top: 10px;
  padding-bottom: 10px;
}

nav img{
  vertical-align: middle;
  height: 10px;
}
nav ul li a{
  color: black;
  text-transform: uppercase;
  font-size: 8px;
  padding: 8px;
}

ul.link ,
ul.languages {
  text-align: right;
}

ul.languages li:nth-last-child(1n+1){
  padding: 0;
  border-right: 1px solid black;
}
/* teaser */

header .pitch{
  background-image: url(../img/bg/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 450px;
  position: relative;
}
header .pitch .teaser> * {
  margin-bottom: 15px;
}
header .pitch .teaser img{
  height: 50px;
}
/* FINE HEADER */

/* MAIN */
/* prodotti */
main .service img{
  height: 350px;
}
main .row.service{
  padding: 50px 0;
}
main .service h2{
  padding-top: 30px;
}
main .service .product>*{
  margin-bottom: 20px;
}

/* mechanism */

main .mechanism .banner{
  height: 350px;
  background-size: 100%;
  background-image: url(../img/bg/HelbizBanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
main .mechanism{
  position: relative;
}
main .mechanism img{
  height: 540px;
  position: absolute;
  left: 37%;
  bottom: 0;
}
/* fine mechanism */

/* inizio where-find */
main .where-find .slogan{
  background-image: url(../img/bg/ScooterHelbiz-2400.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
main .where-find [class*="col-lg"]{
  height: 400px;
}
main .where-find a{
  color: white;
}

main .where-find .slogan .box{
  height: 200px;
  width: 210px;
  position: relative;
  left: 35%;
  top: 30%;
}
main .where-find .slogan .box>*{
  padding-bottom: 10px;
}
main .where-find .get-app .vessel{
  background-color: #27323b;
  background-image: url(../img/HelbiZAPP.png);
  background-repeat: no-repeat;
  background-size: 700px;
}
main .where-find .find-us .vessel{
  background-image: url(../img/bg/Cities-1500.jpg);
  background-size: cover;

}
/* fine where-find */

/* inizio hashtag */
  main .hashtag{
    background-image: url(../img/bg/Social-Banner.jpg);
    background-size: cover;
    position: relative;
    height: 400px;
    }
  main .hashtag .social-media{
    background-color: #ffffff;
    height: 150px;
    width: 230px;
  }
  main .hashtag .social-media h2{
    margin-top: 35px;
  }
  main .hashtag .social-media ul li .icon{
    font-size: 30px;
  }
  main .hashtag .social-media ul li .icon:not(.yt){
    padding-right: 20px;
  }
/* fine hashtag */
/* FINE MAIN */

/* INIZIO FOOTER */
  footer{
    background-color: #000000;
  }
  footer ul li{
    list-style-type: none;
    padding: 5px;
  }
  footer ul li a {
    text-decoration: none;
  }
  footer .app{
    height: 200px;
  }
/* FINE FOOTER */

/* MEDIA QUERY */

@media all and (max-width:767px) {
  /* generali */
  .right-padding-xs-25{
    padding-right: 25px;
  }
  .left-padding-xs-25{
    padding-left: 25px;
  }
  .bottom-margin-xs-25{
    margin-bottom: 25px;
  }
  h1{
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
  }
  h2{
    font-size: 22px;
    font-weight: 600;
  }
  h4{
    font-size: 14px;
  }
  hr{
    width: 100%;
  }
  /* header */
  header nav .burger{
    text-align: right;
  }
  header .pitch ul li{
    display: inherit;
  }
  header .pitch .teaser img {
    height: 30px;
}
  /* main */
  main .service img {
    height: 250px;
  }
  main .mechanism img {
    height: 350px;
    left: 25%;
    bottom: 100px;
  }
  main .mechanism .banner {
      background-position: 21%;
  }
  main .where-find .slogan .box{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  main .where-find .get-app .vessel{
    background-position: -82px 125px;
  }
  /* footer */
  footer .link {
      padding: 10px 20px;
  }

}

@media all and (min-width:768px) and (max-width:991px) {
  /* generali */
  hr{
    width: 95%;
  }
  .right-padding-md-10{
    padding-right: 10px;
  }
  .left-padding-md-10{
    padding-left: 10px;
  }
  .right-padding-md-50{
    padding-right: 50px;
  }
  .left-padding-md-50{
    padding-left: 50px;
  }
  /* header */
  header nav .burger{
    text-align: right;
  }
  /* main */
  main .service img {
    height: 250px;
  }
  main .mechanism{
    height: 515px;
  }
  main .mechanism .banner {
    background-position: 32%;
  }
  main .mechanism .how-works [class*="col-"] {
      height: 15px;
  }
  main .mechanism .how-works [class*="col-"]>*:not(p) {
      margin-top: 20px;
  }
  main .mechanism .how-works [class*="col-"] {
     margin: 20px;
  }
  main .mechanism img {
    height: 400px;
    left: calc(100% / 3);
    bottom: 90px;
  }
  main .where-find .slogan .box{
    left: 30%;
    top: 20%;
  }
  main .where-find [class*="col-"]{
    height: 450px;
  }
  main .where-find .vessel .box > * {
      padding-top: 13px;
  }
  main .where-find .vessel .box{
    padding-top: 20px;
  }
  main .where-find .get-app .vessel {
    background-size: 400px;
    background-position: -47px 190px;
  }
}
@media all and (min-width:992px){
  /* main */
  main .mechanism{
    height: 600px;
  }
  main .mechanism .banner{
    height: 350px;
    background-position: top;
    background-size: 100%;
  }
  main .mechanism .how-works [class*="col-"]{
    height: 200px;
  }
  main .mechanism .how-works [class*="col-"]>*:not(p){
    margin-top: 100px;
  }
  main .mechanism .how-works [class*="col-"] {
      height: 15px;
  }
  main .mechanism .how-works [class*="col-"]>*:not(p) {
      margin-top: 20px;
  }
  main .where-find .get-app .vessel{
    background-position: -69px 125px
  }
  main .where-find .vessel .box > *{
    padding-top: 30px;
  }
  /* footer */
  footer .link{
    padding: 100px 0;
  }
  footer .news{
    margin: 25px;
  }
}
